<div>
<!--lti_homework_submission index template -->

  <%# render "shared/lti_poc" %> 

  <h4>This is iframed content from Brian's development environment</h4>
<br/>
To insert it into Canvas for this demo, click the little <strong> &lt;/&gt; </strong> icon in the bottom right of the editor to copy/paste the html.

  <!-- TODO: setup a handle to do the post back to Canvas -->
<!--  <form action="/lit/path/to/submit" method="post">
    <p>On a scale of <code>0.0</code> to <code>1.0</code>, how'd you do?</p>
    <input name='score' type='text' width='5' id='score' />
    <input type='submit' value='Submit' />
  </form>
-->

<br/><br/>
So, what's your submission answer for this assignment?
<input type="text">
<input type='submit' value='Submit' /><br/>
<small><i>Note: this doesn't do anything right now.</i><small>
</div>
