<div>
  Hi <strong><%= @canvas_fullname %></strong> please select the assignment below to insert into the <strong><%= @canvas_course_name %></strong> course! <br/><br/>
  lti_resource_selection index template <br/><br/>
  <strong>TODO:</strong> add a form here that when you submit it, returns an LTI resource link (NOT a deep linking resource)
</div>
