<style>
body {
  border: 5px solid red;
  background-color: white;
}
.lti-poc {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
h1 { 
  color: #EB3B46; 
  font-size: 1.75em;
}
</style>

<img style="position: absolute; left: 5px" width="150" height="150" src="https://bebraven.org/wp-content/uploads/2017/11/story-01.jpg">
<img style="position: absolute; right: 5px;" width="auto" height="150" src="https://bebraven.org/wp-content/uploads/2017/11/marquee-01-2000x1125.jpg">

<div class="lti-poc">
  <span><h1>We can put anything we want in here!</h1></span>
</div>

