<div>
  Hi <strong><%= @canvas_fullname %></strong>, I hope you're enjoying the <strong><%= @canvas_course_name %></strong> course! <br/><br/>
  We'll contact you shortly at <strong><%= @canvas_email %></strong> <br/><br/>
  lti_course_navigation index template <br/><br/>
  <%= render "shared/lti_poc" %>
</div>
